<%- include('partials/cabecea.ejs') -%>
    <h1>Esto es la pagina de quienes somos- nuestra mision</h1>
    <a href="/">
        home
    </a>
    <a href="/about">
        about
    </a>
    <a href="/downloads">
        downloads
    </a>
</body>

</html>