<%- include('partials/cabecea.ejs') %>
    <main class="flex-shrink-0">
        <h1>Esto es la pagina de bienvenida</h1>
        <a href="/">
            home
        </a>
        <a href="/about">
            about
        </a>
        <a href="/downloads">
            downloads
        </a>
    </main>
    <%- include('partials/pie.ejs') -%>